{% extends "header.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/emoji-button@2.2.2/dist/index.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
<style>
	.avatar {
		vertical-align: middle;
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}
</style>
<script>
	// page store
	var chatId = '{{ chatid }}'
	var email = '{{ logged_user }}'
</script>
<body>
	<div class="container" style="margin-top: 20px">
		<div class="row">
			<div class="col-lg-1">
				<button onclick="window.location='/'" type="button" type="submit" class="btn btn-secondary btn-block">
					<i class="fa fa-home"></i>
				</button>
			</div>
			<div class="col-lg">
				{% for user in users_list %}
				<label class="text-muted">{{ user }} &nbsp;</label>
				{% endfor %}
			</div>
			<div class="col-lg-1">
				<button data-toggle="modal" data-target="#menuModal" type="button" type="submit"
					class="btn btn-outline-secondary btn-block">
					<i class="fa fa-bars"></i>
				</button>
			</div>
			<hr>
		</div>
		<hr>
		<div class="row chat-view" id="chat">
		</div>
		<div class="row" style="margin-top:10px" id="user-controls">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<button id="emoji-btn" class="btn btn-outline-secondary" type="button">😎</button>
					<input id="image-input" accept="image/png, image/jpeg, image/gif" type="file" style="display:none;"></input>
					<button class="btn btn-outline-secondary" type="button" onclick="uploadFile()">
						<i class="fa fa-picture-o" aria-hidden="true"></i>
					</button>
				</div>
				<input type="text" id="message" class="form-control" autofocus placeholder="Type your message">
				<div class="input-group-append">
					<button id="btn-send" type="button" onclick="submitMessage()" type="submit"
						class="btn btn-primary btn-block">
						SEND
					</button>
				</div>
			</div>
			</form>
		</div>
	</div>
	<!-- Menu modal -->
	<div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">InstChat Help</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<ul>
						<li>
							Shortcuts
							<ul>
								<li>Enter : send message</li>
								<li>Ctrl+Enter : pop up emojis</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>
</body>
<script src="/static/js/socket-service.js"></script>
{% endblock %}