{% extends "header.html" %}
{% block content %}

<script>
	function create_new_note() {
		$("#btn-create-new-chat").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Creating ...');
		fetch("/new-chat/create")
		.then((data)=>{
			console.log(data);
			$("#btn-create-new-chat").html("Created!");
			//console.log(data['url'])
			window.location = data['url'];
		}, 
		(error)=>{
			console.log(error);
			$("#btn-create-new-chat").html("There is an error. Please try again.");
		});
	}
</script>


  <body>
      <div class="container" style="margin-top: 40px">
      <div class="row">
        <div class="col-lg">
        </div>
        <div class="col-lg text-center">
        <button id="btn-create-new-chat" type="button" onclick="create_new_note()" class="btn btn-primary btn-block">
		Create a new chat
		</button>
        </div>
        <div class="col-lg">
        </div>
      </div>
    </div>
  </body>
  {% endblock %}